<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohu.tv.mapper.PlayerDao">
	
	<!-- 
		<cache type="com.sohu.tv.redis.MybatisRedisCache"/> 
	 -->

<!-- 1对1
<select id="get" parameterType="int" resultType="Player">
		select 
		p.id,
		p.name,
		p.age,
		p.club_id,
		c.id "club.id",
		c.name "club.name",
		c.info "club.info",
		c.create_date "club.createDate",
		c.rank "club.rank"
		from players p, club c
		where p.club_id=c.id and p.id=#{id}
	</select>
 v1 -->
 
 <!-- v2
 <select id="get" parameterType="int" resultMap="playerMap">
		select id,name,age,club_id from players where id=#{id}
	</select>
	
	<resultMap type="Player" id="playerMap">
		<association property="club" column="club_id" javaType="Club" select="getClub">
		</association>
	</resultMap>
	
	<select id="getClub" parameterType="int" resultType="Club">
		select id,name,info,create_date,rank from club where id=#{id}
	</select>
  -->
	<select id="get" parameterType="int" resultMap="playerMap">
		select 
		p.id,
		p.name,
		p.age,
		p.club_id,
		c.id as clubId,
		c.name as clubName,
		c.info,
		c.create_date,
		c.rank
		from players p, club c
		where p.club_id=c.id and p.id=#{id}
	</select>
	<resultMap type="Player" id="playerMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="age" column="age"/>
		<result property="clubId" column="club_id"/>
		<association property="club" javaType="Club">
			<id property="id" column="clubId"/>
		    <result property="name" column="clubName"/>
   		    <result property="info" column="info"/>
   		    <result property="createDate" column="create_date"/>
   		    <result property="rank" column="rank"/>
		</association>
	</resultMap>
	
	
	<insert id="save" parameterType="Player" keyProperty="id">
		insert into players(name,age,club_id) values(#{name},#{age},#{clubId})
	</insert>
	
	<update id="update" parameterType="Player">
		update players set name=#{name},age=#{age},club_id=#{clubId} where id=#{id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from players where id=#{id}
	</delete>
	
	<select id="getAll" resultType="Player">
		select id,name,age,club_id from players
	</select>
	
</mapper>